<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="html" />
    <meta name="description" content="html" />
    <meta name="author" content="ting" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport"> 
    <link rel="stylesheet" type="text/css" href="../Css/common.css">
    <link rel="stylesheet" type="text/css" href="../Css/index.css">
    <link rel="stylesheet" type="text/css" href="../Css/plugin/txt.wav.css">
    <title></title>
  </head>
  <body class="body">
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="index.html"><img src="../Images/logo-w.png"></a>
        </div>
        <a class="menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <nav class="menu">
          <ul>
            <li class="active"><a href="index.html">网站首页</a></li>
            <li><a href="about.html">关于我们</a></li>
            <li><a href="service.html">服务项目</a></li>
            <li><a href="contact.html">联系我们</a></li>
          </ul>
        </nav>
      </nav>
    </header>
    <section class="section1 mb">
      <div id="particles"></div>
      <div class="poster-info container">
        <h3>个性化定制 在意每一丝细节</h3>
        <p>构建由 html5 + css3 + jQuery + 响应式布局组成的有技术性的网站，</p>
        <p>紧跟时代脚步，满足客户最新需求，提高用户体验！</p>
        <a class="more-btn" href="about.html">更多 →</a> </div>
      </div>
    </section>
    <section class="section2 container mb">
      <ul class="service">
        <li>
          <svg height="100%" width="100%">
            <rect class="shape" x="0" y="0" rx="10" ry="10" height="100%" width="100%" />
          </svg>
          <div class="ico"><i class="iconfont">&#xe63f;</i></div>
          <div class="ser-intro">
            <p class="service-name">传统网站定制</p>
            <p>提供定制化网站服务，根据业务需求，提供专业化的网站研发服务。</p>
          </div>
        </li>
        <li>
          <svg height="100%" width="100%">
            <rect class="shape" x="0%" y="0" rx="10" ry="10" height="100%" width="100%" />
          </svg>
          <div class="ico"><i class="iconfont">&#xe600;</i></div>
          <div class="ser-intro">
            <p class="service-name">响应式网站开发</p>
            <p>运用Html5技术，手机端浏览兼容更好，您解决多平台显示问题</p>
          </div>
        </li>

        <li>
          <svg height="100%" width="100%">
            <rect class="shape" x="0" y="0" rx="10" ry="10" height="100%" width="100%" />
          </svg>
          <div class="ico"><i class="iconfont">&#xe604;</i></div>
          <div class="ser-intro">
            <p class="service-name">高品质仿站</p>
            <p>根据业务需求，将网站功能精确复制，提供专业化的网站服务。</p>
          </div>
        </li>
        <li>
          <svg height="100%" width="100%">
            <rect class="shape" x="0" y="0" rx="10" ry="10" height="100%" width="100%" />
          </svg>
          <div class="ico"><i class="iconfont">&#xe841;</i></div>
          <div class="ser-intro">
            <p class="service-name">微信小程序制作</p>
            <p>专注微信小程序开发，提供微信商城个性化服务。</p>
          </div>
        </li>
      </ul>
    </section>
    <section class="section3">
      <div class="about">
        <div class="img-inner"><img src="../Images/about-1.jpg"></div>
        <div class="info">
          <h4>独特而真实的个性网站建设</h4>
          <p>小黑屋专注于..</p>
        </div>
        <div class="img-inner"><img src="../Images/about-2.jpg"></div>
      </div>
    </section>
    <section class="section4 mb">
      <div class="container">
        <div class="title white">创新与<span>技术</span></div>
        <div class="con">
          <div class="img-inner"><img src="../Images/tech.jpg" alt=""></div>
          <div class="info">
            <!-- <h4>Start Something New</h4> -->
            <ul>
              <li>深入沟通您的需求,个性化定制 </li>
              <li>规范开发的代码,div+css & PHP+MYSQL</li>
              <li>开发简单操作的后台,维护操作简单 </li>
              <li>响应式网站支持手机，平板等移动设备，三站合一</li>
            </ul>
            <div class="inner-info">
              <div class="inner-sec tac">
                <i class="iconfont">&#xe601;</i>
                <h5>个性</h5>
                <p>定制让网站不仅美观，更具有独一无二的个性</p>
              </div>
              <div class="inner-sec tac">
                <i class="iconfont">&#xe62d;</i>
                <h5>全平台</h5>
                <p>一个PC端、平板端、手机端都适应的全平台网站</p>
              </div>
              <div class="inner-sec tac">
                <i class="iconfont">&#xe6ae;</i>
                <h5>易维护</h5>
                <p>开发简单操作的后台,维护操作简单</p>
              </div>
            </div>
            <p class="tip tac">你的需求决定我们的创意,更多不同等你来发现!</p>
          </div>
        </div>
      </div>
    </section>
    <!-- 案例展示，暂无，隐藏 -->
    <!-- <section class="section5 mb">
      <div class="container title"><span>理念与技术</span>的完美结合</div>
      <div class="inner">
        <a href="../Images/case1.jpg" class="w50" data-lb-group="1">
          <img src="../Images/case1.jpg" class="img-responsive" alt="w3ls">
          <div class="p-mask">
            <h4><span>Heading here</span></h4>
            <p>Neque porro quisquam est.</p>
          </div>
        </a>
        <a href="../Images/case2.jpg" class="w25" data-lb-group="1">
          <img src="../Images/case2.jpg" class="img-responsive" alt="w3ls">
          <div class="p-mask">
            <h4><span>Heading here</span></h4>
            <p>Neque porro quisquam est.</p>
          </div>
        </a>
        <a href="../Images/case3.jpg" class="w25" data-lb-group="1">
          <img src="../Images/case3.jpg" class="img-responsive" alt="w3ls">
          <div class="p-mask">
            <h4><span>Heading here</span></h4>
            <p>Neque porro quisquam est.</p>
          </div>
        </a>
      </div>
      <div class="inner">
        <a href="../Images/case4.jpg" class="w25" data-lb-group="1">
          <img src="../Images/case4.jpg" class="img-responsive" alt="w3ls">
          <div class="p-mask">
            <h4><span>Heading here</span></h4>
            <p>Neque porro quisquam est.</p>
          </div>
        </a>
        <a href="../Images/case5.jpg" class="w25" data-lb-group="1">
          <img src="../Images/case5.jpg" class="img-responsive" alt="w3ls">
          <div class="p-mask">
            <h4><span>Heading here</span></h4>
            <p>Neque porro quisquam est.</p>
          </div>
        </a>
        <a href="../Images/case6.jpg" class="w50" data-lb-group="1">
          <img src="../Images/case6.jpg" class="img-responsive" alt="w3ls">
          <div class="p-mask">
            <h4><span>Heading here</span></h4>
            <p>Neque porro quisquam est.</p>
          </div>
        </a>
      </div>
    </section> -->
    <section class="section6 container">
      <div class="container title"><span>欢迎</span>随时来扰</div>
      <div class="contact">
          <ul>
            <li>
              <p class="ico"><i class="iconfont">&#xe602;</i></p>
              <p>QQ在线联系</p>
              <p class="info">3326113751</p>
            </li>
            <li>
              <p class="ico"><i class="iconfont">&#xe6ee;</i></p>
              <p>打电话</p>
              <p class="info">+86-16620849404</p>
            </li>
            <li>
              <p class="ico"><i class="iconfont">&#xe603;</i></p>
              <p>发邮件</p>
              <p class="info">3326113751@qq.com</p>
            </li>
          </ul>
          <div class="txtwav bounce tac"><span>要了解更多信息，欢迎您来咨询，我们将竭诚为您服务！</span></div>
      </div>
    </section>
    <footer>
      <div class="copyright tac"><span>© Copyright 2015 Revelance. All rights reserved.</span></div>
    </footer>
    <script src="../Js/jquery.min.js"></script>
    <script src="../JS/particles-js/particles.min.js"></script>
    <script src="../JS/txtwav-js/txt.wav.min.js"></script>
    <script src="../JS/common.js"></script>
  </body>
</html>
